<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terry.backend.api.admin.system.member.mapper.AdminMemberAuthorityMapper">
    <resultMap id="MemberAuthority"
               type="com.terry.backend.api.admin.system.member.dto.MemberAuthorityDTO">
        <id property="userId" column="USER_ID"/>
        <id property="authorityId" column="AUTHOR_ID"/>
        <result property="authorityCode" column="AUTHOR_CODE"/>
        <result property="authorityName" column="AUTHOR_NM"/>
        <result property="map" column="AUTHOR_MAP"/>
        <result property="createDt" column="REGIST_DT"/>
        <result property="createId" column="REGIST_ID"/>
        <result property="updateDt" column="UPDT_DT"/>
        <result property="updateId" column="UPDT_ID"/>
    </resultMap>


    <select id="selectAuthority" resultMap="MemberAuthority">
        SELECT UA.USER_ID
             , A.AUTHOR_ID
             , A.AUTHOR_CODE
             , A.AUTHOR_NM
             , (
            CASE
                WHEN UA.USER_ID IS NULL THEN 0
                ELSE 1
                END
            ) AS AUTHOR_MAP
        FROM SWC_AUTHOR A
                 LEFT JOIN SWC_USER_AUTHOR UA ON
            UA.AUTHOR_ID = A.AUTHOR_ID
                AND UPPER(UA.USER_ID) = UPPER(#{userId, jdbcType=VARCHAR})
        ORDER BY A.AUTHOR_CODE
               , A.AUTHOR_NM
    </select>

    <delete id="delete">
        DELETE FROM SWC_USER_AUTHOR
        <where>
            <if test='userId != null and userId != ""'>
                AND UPPER(USER_ID) = UPPER(#{userId, jdbcType=VARCHAR})
            </if>
            <if test='authorityId != null and authorityId != ""'>
                AND UPPER(AUTHOR_ID) = UPPER(#{authorityId, jdbcType=VARCHAR})
            </if>
        </where>
    </delete>

    <delete id="deleteByUserIdAndAuthorityIds">
        DELETE
        FROM SWC_USER_AUTHOR
        WHERE USER_ID = UPPER(#{userId, jdbcType=VARCHAR})
          AND AUTHOR_ID IN (${authorityIds})
    </delete>

    <insert id="save">
        INSERT INTO SWC_USER_AUTHOR (USER_ID,
                                     AUTHOR_ID,
                                     AUTHOR_VALUE,
                                     HIST_ID,
                                     REGIST_DT,
                                     REGIST_ID,
                                     UPDT_DT,
                                     UPDT_ID)
        VALUES (UPPER(#{userId, jdbcType=VARCHAR}),
                UPPER(#{authorityId, jdbcType=VARCHAR}),
                1,
                NULL,
                NOW(),
                #{createId, jdbcType=VARCHAR},
                NOW(),
                #{updateId, jdbcType=VARCHAR}) ON DUPLICATE KEY
        UPDATE
            AUTHOR_VALUE = 1,
            UPDT_DT = NOW(),
            UPDT_ID = #{updateId, jdbcType=VARCHAR};
    </insert>

    <insert id="saveUserAuthority">
        INSERT INTO SWC_USER_AUTHOR (USER_ID,
                                     AUTHOR_ID,
                                     AUTHOR_VALUE,
                                     HIST_ID,
                                     REGIST_DT,
                                     REGIST_ID,
                                     UPDT_DT,
                                     UPDT_ID)
        VALUES (UPPER(#{userId, jdbcType=VARCHAR}),
                UPPER(#{authorityId, jdbcType=VARCHAR}),
                NULL,
                NULL,
                NOW(),
                NULL,
                NOW(),
                NULL) ON DUPLICATE KEY
        UPDATE
            UPDT_DT = NOW();
    </insert>

</mapper>
