<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.terry.backend.api.admin.system.member.mapper.AdminMemberMapper">

    <select id="select" resultMap="core.Member">
        SELECT
        U.USER_ID
        , U.USER_LOGIN_ID
        , U.USER_NM
        , U.USER_IMAGE_URI
        , U.USER_SEXDSTN
        , U.USER_EMAIL
        , U.USER_DC
        , U.USER_USE
        , U.USER_LOCK
        , U.USER_LAST_LOGIN_DT
        , U.HIST_ID
        , U.REGIST_DT
        , U.REGIST_ID
        , U.UPDT_DT
        , U.UPDT_ID
        , U.USER_MBTLNUM
        FROM
        SWC_USER U
        <where>
            <if test='name != null and name != ""'>
                AND (
                UPPER(U.USER_NM) LIKE CONCAT('%', UPPER(#{name, jdbcType=VARCHAR}), '%')
                OR UPPER(U.USER_LOGIN_ID) LIKE CONCAT('%', UPPER(#{name, jdbcType=VARCHAR}), '%')
                )
            </if>
            <if test='email != null and email != ""'>
                AND UPPER(U.USER_EMAIL) LIKE CONCAT('%', UPPER(#{email, jdbcType=VARCHAR}), '%')
            </if>
            <if test='mobile != null and mobile != ""'>
                AND UPPER(U.USER_MBTLNUM) LIKE '%' + CONCAT('%', UPPER(#{mobile, jdbcType=VARCHAR}), '%')
            </if>
            <if test='sex != null and sex != ""'>
                AND UPPER(U.USER_SEXDSTN) = UPPER(#{sex, jdbcType=VARCHAR})
            </if>
            <if test='use != null and use != ""'>
                AND U.USER_USE = UPPER(#{use, jdbcType=VARCHAR})
            </if>
            <if test='lock != null and lock != ""'>
                AND U.USER_LOCK = UPPER(#{lock, jdbcType=VARCHAR})
            </if>
            <if test='matchEmail != null and matchEmail != ""'>
                AND UPPER(U.USER_EMAIL) = UPPER(#{matchEmail, jdbcType=VARCHAR})
            </if>
            <if test='matchLoginId != null and matchLoginId != ""'>
                AND UPPER(U.USER_LOGIN_ID) = UPPER(#{matchLoginId, jdbcType=VARCHAR})
            </if>
        </where>
        ORDER BY
        U.USER_NM
    </select>

    <select id="selectById" resultMap="core.Member">
        SELECT U.USER_ID
             , U.USER_LOGIN_ID
             , U.USER_PASSWORD
             , U.USER_NM
             , U.USER_IMAGE_URI
             , U.USER_SEXDSTN
             , U.USER_EMAIL
             , U.USER_DC
             , U.USER_USE
             , U.USER_LOCK
             , U.USER_LAST_LOGIN_DT
             , U.HIST_ID
             , U.REGIST_DT
             , U.REGIST_ID
             , U.UPDT_DT
             , U.UPDT_ID
             , U.USER_MBTLNUM
        FROM SWC_USER U
        WHERE U.USER_ID = UPPER(#{id, jdbcType=VARCHAR})
    </select>

    <insert id="insert">
        INSERT INTO SWC_USER ( USER_ID
                             , USER_LOGIN_ID
                             , USER_NM
                             , USER_PASSWORD
                             , USER_IMAGE_URI
                             , USER_SEXDSTN
                             , USER_EMAIL
                             , USER_DC
                             , USER_USE
                             , USER_LOCK
                             , USER_LAST_LOGIN_DT
                             , HIST_ID
                             , REGIST_DT
                             , REGIST_ID
                             , UPDT_DT
                             , UPDT_ID
                             , USER_MBTLNUM)
        VALUES ( UPPER(#{id, jdbcType=VARCHAR})
               , #{loginId, jdbcType=VARCHAR}
               , #{name, jdbcType=VARCHAR}
               , #{password, jdbcType=VARCHAR}
               , #{imageUrl, jdbcType=VARCHAR}
               , #{sex, jdbcType=VARCHAR}
               , #{email, jdbcType=VARCHAR}
               , #{remarks, jdbcType=VARCHAR}
               , UPPER(#{use, jdbcType=VARCHAR})
               , UPPER(#{lock, jdbcType=VARCHAR})
               , NULL
               , NULL
               , NOW()
               , #{createId, jdbcType=VARCHAR}
               , NOW()
               , #{updateId, jdbcType=VARCHAR}
               , NULL)
    </insert>

    <update id="update">
        UPDATE SWC_USER
        SET USER_NM        = #{name, jdbcType=VARCHAR}
          , USER_PASSWORD  = #{password, jdbcType=VARCHAR}
          , USER_IMAGE_URI = #{imageUrl, jdbcType=VARCHAR}
          , USER_SEXDSTN   = #{sex, jdbcType=VARCHAR}
          , USER_EMAIL     = #{email, jdbcType=VARCHAR}
          , USER_DC        = #{remarks, jdbcType=VARCHAR}
          , USER_USE       = UPPER(#{use, jdbcType=VARCHAR})
          , USER_LOCK      = UPPER(#{lock, jdbcType=VARCHAR})
          , HIST_ID        = NULL
          , UPDT_DT        = NOW()
          , UPDT_ID        = #{updateId, jdbcType=VARCHAR}
          , USER_MBTLNUM   = #{mobile, jdbcType=VARCHAR}
        WHERE USER_ID = UPPER(#{id, jdbcType=VARCHAR})
	</update>

    <delete id="deleteAuthorityLink">
        DELETE FROM SWC_USER_AUTHOR
        <where>
            <if test='id != null and id != ""'>
                USER_ID = UPPER(#{id, jdbcType=VARCHAR})
            </if>
        </where>
    </delete>

    <delete id="delete">
        DELETE FROM SWC_USER
        <where>
            <if test='id != null and id != ""'>
                USER_ID = UPPER(#{id, jdbcType=VARCHAR})
            </if>
        </where>
    </delete>

</mapper>
